
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New URL</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em;">
    <h3>Create TinyURL</h3>
    <form method="POST" action="/urls">
      <div class="form-group">
        <label for="longURL">Enter a URL:</label>
        <input type="text" class="form-control" name="longURL" placeholder="http://" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>
</body>
</html>
